<%- include('../theme/header.ejs', { title: 'Notify lists' })%>
  <%- include('../theme/nav.ejs', { menu: 'Notify' })%>
    <div class="container">
      <div class="row g-2">

        <div class="col-md-10 mx-auto ">
          <div class="card p-3 bg-light">
            <div class="row">
              <div class="col-8">
                <h3>Notify list</h3>
              </div>
              <div class="col-4 text-end">
                page <%=page%>/<%=datas.pageAll%>
              </div>
            </div>

            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Subject</th>
                  <th>Message</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% if(locals.datas.datas && locals.datas.datas.length>0) { %>
                  <% datas.datas.forEach(function(data, index) { %>
                    <tr>
                      <td>
                        <%= index+(10*(page-1))+1 %>
                      </td>
                      <td>
                        <%= data.name %>
                      </td>
                      <td>
                        <%= data.email %>
                      </td>
                      <td>
                        <%= data.subject %>
                      </td>
                      <td>
                        <%= data.message %>
                      </td>
                      <td>
                        <a href="/backoffice/notify_view/<%= data.id %>"><i class="fa-solid fa-eye"></i></a>
                        <a href="javascript:" onclick="confirmDelete('<%= data.id %>')"><i
                            class="fa-solid fa-trash text-danger"></i></a>
                      </td>
                    </tr>
                    <% }); %>
                      <% } else {%>
                        <tr>
                          <td colspan="6"> No record.</td>
                        </tr>
                        <% }%>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <% for(i=1; i<=datas.pageAll; i++) { %>
                  <li class="page-item <% if(i == page) { %>active<% }%>"><a class="page-link"
                      href="/backoffice/notify/<%=i%>">
                      <%=i%>
                    </a></li>
                  <% }%>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <%- include('../theme/footer.ejs')%>
      <script>
        const confirmDelete = (id) => {
          Swal.fire({
            title: 'Do you want to delete?',
            showDenyButton: true,
            // showCancelButton: true,
            confirmButtonText: 'Yes',
            denyButtonText: 'No',
          }).then((result) => {
            if (result.isConfirmed) {
              deleteNotify(id)
            } 
          })
        }

        const deleteNotify = (id) => {
          axios.delete("/api/notify/"+id)
            .then(function (response) {
              if(response.status){
                window.location.reload();
              }
              Swal.fire('Error!', 'Please try again', 'error')
            })
            .catch(function (error) {
              Swal.fire('Error!', 'Please try again', 'error')
            });
        }
      </script>